<nav class="navbar navbar-expand-sm bg-light">
  <a class="navbar-brand" routerLink="/">Angular OIDC Example</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/protected">Protected</a>
    </li>
    <ng-template [ngIf]="user">
      <li class="nav-item">
        <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
      </li>
    </ng-template>
    <ng-template [ngIf]="!user">
      <li class="nav-item">
        <a class="nav-link" routerLink="" (click)="login()">Login</a>
      </li>
    </ng-template>
  </ul>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

